<% if @tweets.present? %>
  <h1>検索結果</h1>
  <ul>
    <% @tweets.each_with_index do |tweet, i| %>
      <div class="list">
        <li><%= i+1 %>: <%= tweet %></li>
      </div>
    <% end %>
  </ul>
<% end %>
