<div class="center">
  <div id="search-box">
    <%= form_tag('/tweets/search', method: :get) do %>
      <%= text_field_tag :tweet, nil, id: "tweet_search", name: "keyword", placeholder: "キーワードを入力して下さい"%>
      <button type="submit">検索</button>
    <% end %>
  </div>
  <div id="tweet_list">
    <%= render partial: 'tweet_list' %>
  </div>
</div>
